@page "/newsfetch"
@inject HttpClient Http;


@using System.Runtime.Serialization;

<h1>News API</h1>

<style>
    .dot {
        border-style: dotted;
    }
</style>
@if (query.todoItems == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <div>
        <label for="name">Filter News Channel</label>
        <input id="name" @bind="name" @onkeyup="@PressEnter" /> <button @onclick="GetNewsAsync">Search</button>

    </div>

    <div>
        <form>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Filter Source</label>
                <select @bind="query.filter" class="form-control" id="exampleFormControlSelect1">
                    <option value=" ">All</option>
                    @foreach (var item in query.SourceList())
                    {

                        <option>@item</option>
                    }

                </select>
            </div>
        </form>
    </div>
    <br />
    @if (found)
    {


        @if (query.todoItems.articles.Count == 0)
        {

            <p>Nothing found</p>
        }
        else
        {
            <button @onclick="() => query.SortDateByDateAscending()">Ascending</button>
            <button @onclick="() => query.SortDateByDateDescending()">Descending</button>
            <br />
            <br/>

            foreach (var article in query.todoItems.articles)
            {
                if (article.filterArticle(query.filter))
                {
                <div class="dot">
                    <div><h5><strong>Source : </strong> @article.source.name</h5></div>
                    <div><h5><strong>Author : </strong> @article.author</h5></div>
                    <div><h5><strong>Publish Date : </strong> @article.publishedAt.ToLongDateString()</h5> </div>
                    <div><h5> <strong>Title :</strong> @article.title</h5></div>
                    <div><h5><strong>Description :</strong> @article.description </h5></div>

                    <div><h5><strong>Content : </strong> @article.content</h5></div>
                    <div><h5><strong>URLs : </strong><a href="@article.url">Link to Article</a></h5></div>

                </div>
                <br />
                    }
                }
            }
        }
}
@code {
   
    private string errormessage;
    private bool found;

    NewsQueryData query= new NewsQueryData();

    public string name { get; set; } = "sports";

    public async Task GetNewsAsync()
    {
        found = false;
        try
        {
            string uri = "https://newsapi.org/v2/everything?q=" + name + "&apiKey=f74374b084a74f87a9c6270128e9962e";

            query.todoItems = await Http.GetFromJsonAsync<Root>(uri);
            found = true;
            errormessage = String.Empty;
        }
        catch (Exception e)
        {
            errormessage = e.Message;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetNewsAsync();
    }


    public async Task PressEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await GetNewsAsync();
        }
    }


}